<nav class="navbar text-light navbar-expand-lg navbar bg-dark mat-elevation-z4">

  <a class="navbar-brand title" routerLink="/"><i id="logo" class="fas fa-chess-queen"></i>

    {{appName}} </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="login" >Log In</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>

    </ul>
  </div>
</nav>


