nav {
    border-bottom: 2px solid #2E3338;
    /* box-shadow: 0px 5px 28px 0px rgba(0,0,0,0.25); */
}
.nav-link {
    color: rgb(214, 214, 214);
}

#logo {
    font-size: 1.5em;
    /* color: #f4bf42; */
    color: #ff6868;
    margin-left: 1em;
    margin-right: 0.5em;
}

.title {
    color: white;
}