#rankSession p {
    text-align: center;
}
#username {
    text-align: center;
    font-weight: 200;
}

.percent {
    text-align: center;
}
.rank {
    text-align: center; 
}

#profilePicture {
    object-fit: cover;
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #343A40;
    box-shadow: 
    0px 0px 0px 5px rgb(255, 255, 255),
    0px 0px 22px -4px rgba(0,0,0,0.75);
}
.sidebar {
    z-index: -3;
    border-top: 1px solid #343A40;
    width: 300px;
    background: #343A40;
    position: fixed;
    top: 0px;
    opacity: 1;
    left: 0;
    bottom: 0;
    height: 100%;
    color: white;
    padding-top: 55px;
   
}

#bio {
    font-family: 100;
    font-size: 12px;
    font-style: italic;
    padding: 15px;
    text-align: center;
}

#uploadMeme {
    display: block;
    margin: 20px auto;
    height: 60px;
    font-size: 1.3em;
    text-transform: uppercase;
    /* background: #f4bf42; */
    background: #ff6868;
    color: white;
    border-radius: 4px;
    transition: 200ms;
    border: none;
  }
  
  #uploadMeme:hover {
  transform: translateY(-5px);
  transition: 200ms;
  }
.memeArea {
    margin-left: 300px;
    padding: 15px;
}
  .meme {
      border: 1px solid rgba(0,0,0,0.125);
      width: 250px;
      height: 380px;
      float: left;
      margin: 20px;
      padding: 20px;
      box-shadow: 2px 10px 26px -9px rgba(0,0,0,0.35);
  }
  .image {
      object-fit: cover;
      width: 200px;
      height: 200px;
  }
  .div {
      margin: 15px auto;
      text-align: center;
  }
 .downvote {
      color: white;
      background: #ff6868;
      padding: 5px;
      border: none;
      box-shadow: 2px 10px 26px -9px rgba(0,0,0,0.35);
  }
  .upvote {
    background: #81f77d;
    color: white;
    padding: 5px;
    border: none;
    box-shadow: 2px 10px 26px -9px rgba(0,0,0,0.35);
}