#rankSession p {
    text-align: center;
}
#username {
    text-align: center;
    font-weight: 200;
}

.percent {
    text-align: center;
}
.rank {
    text-align: center; 
}

#profilePicture {
    object-fit: cover;
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #343A40;
    box-shadow: 
    0px 0px 0px 5px rgb(255, 255, 255),
    0px 0px 22px -4px rgba(0,0,0,0.75);
}
.sidebar {
    z-index: -3;
    border-top: 1px solid #343A40;
    width: 300px;
    background: #343A40;
    position: fixed;
    top: 0px;
    opacity: 1;
    left: 0;
    bottom: 0;
    height: 100%;
    color: white;
    padding-top: 55px;
   
}

#bio {
    font-family: 100;
    font-size: 12px;
    font-style: italic;
    padding: 15px;
    text-align: center;
}

#uploadMeme {
    display: block;
    margin: 20px auto;
    height: 60px;
    font-size: 1.3em;
    text-transform: uppercase;
    /* background: #f4bf42; */
    background: #ff6868;
    color: white;
    border-radius: 4px;
    transition: 200ms;
    border: none;
  }
  
  #uploadMeme:hover {
  transform: translateY(-5px);
  transition: 200ms;
  }