
.sidebar {
    z-index: -3;
    border-top: 1px solid #343A40;
    width: 300px;
    background: #343A40;
    position: fixed;
    top: 0px;
    opacity: 1;
    left: 0;
    bottom: 0;
    height: 100%;
    color: white;
    padding-top: 55px;
   
}
