<!--

 -->


 <form class="">
    <!-- animated fadeIn? -->
          <div class="container">

            <h1>Log In</h1>
             <hr>
           <div>


             <label> Username
             <input
                [(ngModel)]="enteredUname"
                 type="text"
                class="field"
                name="enteredUname"
             ><i class="fa fa-check-square " id="myCheck1"></i>
             </label>

             <label> Password
             <input
             [(ngModel)]="enteredPassword"
              type="password"
              class="field"
              name="enteredPassword"
             > <i class="fa fa-check-square" id="myCheck2"></i>
             </label>

             <button type="submit" id="sub" value="Sign Up" (click)="userAuth()">Sign Up</button>

           </div>
            </div>

        </form>
